/* color variables for easier to remember names */
:root {
    --primary: #233d8c;
    --secondary: #81848f;
    --pop: #873636;
}

/* remove default CSS styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general settings for all body styling */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--primary);
}

/* header and nav link stylings */
header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header div {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
    color: var(--pop);
    font-size: 40px;
    font-weight: bold;
    background-color: var(--secondary);
    padding: 10px;
    border: 5px solid var(--pop);
    /*text-shadow: 3px 3px 5px rgba(0,0,0,0.5);*/
    
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav {
    display: flex;
    

}

header nav ul li a {
    padding: 10px 5px 3px 5px;
    font-size: 18px;
    border-bottom: 4px solid var(--secondary);
    margin: 0 20px 0 0;
    

}

.hero {
    background-image: url("../images/brickwall.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*position: relative;*/
}

.hero div{
    display: flex;
}

.hero img {
    height: 400px;
    
}

.hero .quote {
    font-size: 35px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: lightgray;
}

.hero .quote #quote-text {
    font-size: 48px;
}